*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(137, 43, 226, 0.485);
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header a:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.header a {
    color: rgb(41, 31, 39);
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.2s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card1 {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin: 20px 0;
    gap: 30px;
    width: 100%;
    max-width: 800px; /* Prevent too wide cards */
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.234);
    border-radius: 10px;
    
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.card1 img{
    width: 50%;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.2s ease;
}

.card1 p {
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #333;
}

/* Additional cool styles */
.header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.header a:hover {
    color: lightblue;
}
